*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,'Noto Sans';
}
body{
    background: burlywood;
}
nav{
    display: flex;
    justify-content: center;
    /* float: center; */
    /* align-items: center; */
    background: rgb(255, 255, 255);
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
}
nav ul{
    list-style: none;
    position: relative;
}
nav ul li{
    display: inline-block;
    background: rgb(255, 255, 255);
    margin: 0 5px;
    /* border-bottom: 2px solid rgb(255, 255, 255); */
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 60px;
    padding: 8px 10px;
    transform: left .5s;
}
nav ul ul {
    position: absolute;
    visibility: hidden;
    top: 90px;
    transition: top .3s;
}

nav ul li:hover{
    border-bottom: 2px solid cyan;
}
nav ul ul li a:hover{
    color: rgb(85, 85, 85);
}
nav ul ul li:hover{
    border-bottom: none;
}
nav ul li:hover > ul{
    visibility: visible;
    top: 62px;
}
nav ul ul li {
    position: relative;
    margin: 0px;
    width: 270px;
    float: none;
    display: list-item;
    /* border-bottom: 1px solid rgba(0,0, 0, 0.3); */
    padding-left: 10px;
}

nav ul ul li a{
    line-height: 50px;
    /* margin-left: 10px; */
}

nav ul ul ul li{
    position: relative;
    top:-70px;
    left: 260px;
}